<div class="customer">
  <%= image_tag customer.image %>
  <h3><%= customer.full_name %></h3>
  <p><%= customer.phone_number %></p>
  <p><%= customer.email_address %></p>
  <p><%= customer.notes %></p>
</div>
